@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


$--font-paragraph: 'Lexend Deca', sans-serif; 
$--font-subtitle: 'Big Shoulders Display', cursive;

  //#colors
$--paragraph-color:rgba(255, 255, 255, 0.68);
$--light-gray-color: rgb(242, 242, 242);

$--firts-card-bg: rgb(227, 136, 38);
$--middle-card-bg: rgb(0, 105, 112);
$--last-card-bg: rgb(0, 66, 65);

